* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courgette', cursive;
    background-color: rgb(231, 238, 245);
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(girlbord.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

nav img {
    width: 50px;
}

nav {
    display: flex;
    padding: 2% 8%;
    justify-content: space-between;
    align-items: center;

}


.navlinks {
    display: flex;
    text-align: right;
    list-style: none;
}

.navlinks ul {
    /* border: 2px solid rgb(116, 31, 9); */
    border-radius: 55px;
    padding: 15px 0px;
}

.navlinks ul li {
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.navlinks ul li a {
    text-decoration: none;
    color: rgb(100, 32, 11);
    font-size: 15px;
}


.navlinks ul li ::after {
    content: '';
    width: 0%;
    height: 2.5px;
    background-color: rgb(100, 33, 33);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navlinks ul li :hover::after {
    width: 100%;
}

.text {
    text-align: center;
    margin: 2px 2px;

    position: absolute;
    left: 10%;
    right: 10%;
    top: 40%;

}

.text h1 {
    font-size: 60px;
    color: rgb(121, 43, 23);
}

.text p {
    margin: 10px 40px;
}

.btn {
    text-decoration: none;
    color: rgb(37, 13, 13);
    border: 1px solid rgb(104, 35, 8);
    display: inline-block;
    cursor: pointer;
    padding: 4px 25px;

}

.btn:hover {
    background-color: rgb(121, 43, 23);
    transition: 1.2s;
    border-radius: 5px;
}

nav.fa {
    display: none;
}

@media (max-width:700px) {
    .text h1 {
        font-size: 30px;
        color: rgb(121, 43, 23);
    }

    .text p {
        margin: 5px 20px;
    }

    .navlinks ul li a {
        color: aliceblue;


    }

    .navlinks ul li {
        display: block;


    }

    .navlinks {
        position: absolute;
        text-align: left;
        background-color: rgb(121, 43, 23);
        height: 100vh;
        width: 200px;
        right: 0px;
        bottom: 0px;
        z-index: 5;

    }

    nav.fa {
        display: block;
        color: white;
        cursor: pointer;
        margin: 10px;
        font-size: 22px;
    }


}






/* ---------section course----------------- */

#courses {
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    background-color: rgb(231, 238, 245);


}

#courses h1 {
    margin: 40px;
    font-size: 36px;
    font-weight: 800;
}

#courses p {
    font: 14px;
    font-weight: 300px;

    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
    width: 80%;
    padding-left: 10%;


}

.cours {
    flex-basis: 31%;
    background-color: rgb(246, 221, 221);
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing: border-box;
    text-align: center;
    padding-top: 8px;
    box-shadow: 10px 23px 20px black;
    transition: 0.5s;
}

.cours h3 {
    text-align: center;
    font-weight: 700;
    margin: 10px 0px;

}

.cours:hover {

    background-color: rgb(242, 195, 195);
}

@media(max-width:700px) {
    .row {
        flex-direction: column;
    }
}

/* -------------campus--------------------- */




.campus {

    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: rgb(231, 238, 245);
    align-items: center;
}

.campus h1{
    margin: 40px;
    font-size: 36px;
    font-weight: 800;
}
.rows img {
    width: 250px;
    height: 300px;
    border-radius: 15px;
    transition: 0.2s;
}

.rows img:hover {

    box-shadow: 10px 23px 20px black;
}


.campus-c {
    flex-basis: 32%;
    margin: 25px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.rows {
    display: flex;

}

.rows h3:hover {
    color: rgb(102, 22, 22);
    cursor: pointer;
}

@media(max-width:700px) {
    .rows {
        display: flex;
        flex-direction: column;

    }
}


.facilities {
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    justify-content: center;

}

.facilities h1{
    margin: 40px;
    font-size: 36px;
    font-weight: 800;
   
}

.facilities-s {
    margin: 25px;
}


.rows {
    display: flex;
    justify-content: center;
}

.rows img {
    width: 400px;
    height: 300px;
    border-radius: 15px;
    transition: 0.2s;
}

@media(max-width:700px) {
    .rows img {
width:200px ;

    }
}


